[Unit]
Description=Calibre Server
After=network.target

[Service]
Type=simple
User={{ calibre_user }}
Group={{ calibre_user }}
ExecStart=/opt/calibre/calibre-server "{{ calibre_library_path }}" --listen-on=0.0.0.0 --port=8080
Restart=always

[Install]
WantedBy=multi-user.target
